/***************** Mooc *******************/

.presentation__mooc {
    background-color: #eeeeef;
    color: #333333;
    margin: 10px 0;
    overflow: hidden;
}

.mooc__pic_w, .mooc__pic_wf{
	width: 210px;
	height: auto;
	display: block;
	overflow: hidden;
}
.mooc__pic_wf{
	height: 100%;	
}

.presentation__mooc__left, 
.presentation__mooc__right,
.presentation__mooc__right__body__left, 
.presentation__mooc__right__body__right {
    display: inline-block;
    vertical-align: top;
}
.presentation__mooc__left {
    width: 210px;
    height: 232px;
/*    background-color:#4b667c;*/
}

.mooc__pic {
    width: 100%;
    height: auto;
}


.presentation__mooc__right {
    padding: 5px;
    padding-left: 15px;
}

.presentation__mooc__right__header__title {
    font-size: 21px;
    font-weight: bold;
    margin: 10px 0 .3em 0;
    color:#333333;
    line-height: 1.2;
    max-width: 370px;
    overflow:hidden;
}
.presentation__mooc__right__header__subtitle {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.presentation__mooc__right__body__left{
    width: 210px;
}
.presentation__mooc__right__body__left__theme{
    display: block;
    font-size: 11px;
    text-transform: uppercase;

}
.presentation__mooc__right__body__left__desc{
    
    color: #606060;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: .3em;
}
.presentation__mooc__right__body__left__link{
    margin-top: 10px;
}
.presentation__mooc__right__body__left__link:hover{
    
}
.presentation__mooc__right__body__left__link__span{
    
}

.presentation__mooc__right__body__right{
    width: 140px;
}

.presentation__mooc__right__body__right__date,
.presentation__mooc__right__body__right__badge,
.presentation__mooc__right__body__right__price,
.presentation__mooc__right__body__right__activity{
    background-image: url("../bundles/clarolinecore/images/sprites_solerni.png");
    background-repeat: no-repeat;
    color: #606060;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    margin: 0 0 10px ;
    padding-left: 39px;
    text-transform: uppercase;
}

.presentation__mooc__right__body__right__date {
}
.presentation__mooc__right__body__right__badge {
    background-position: 0 -42px;
}
.presentation__mooc__right__body__right__price {
    background-position: 0 -84px;
}
.presentation__mooc__right__body__right__activity {
    background-position: 0 -126px;
}
.valign {
    display: inline-block;
    line-height: 1em;
    text-align: left;
    vertical-align: middle;
}

a.link__more {
    color: #FF004F;
    text-transform: initial;
}