.slrn-sr-elmnt  {
    background-color: #f1f1f1;
/*    padding : 1em;*/
    margin-top: 1em;
    
}
.slrn-sr-elmnt h3 {
    font-size: 1.3em;
    margin: 0;
}

.slrn-sr-elmnt-date {
    font-size: 0.9em;
    margin-top: 1em;
}

.slrn-sr-elmnt-date-creation {
  margin-right: 2em;  
}

.slrn-sr-elmnt-date-modification {
    
}

.slrn-sr {
    list-style-type: none;
    padding-left: 0;
}

.slrn-sr-elmnt-header {
    text-transform:uppercase;
}

mark {
    background-color: #fbf069;
}

#slrn-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top : 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(200,200,200, 0.5);
}

#slrn-loader {
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -32px;
    margin-left: -32px;
    width: 64px;
    height: 64px;
}

#slrn-items-per-page {
    margin-top: 1em;
}

.slrn-ul-no-bullet {
    list-style-type: none;
}

.slrn-sr-message {
    padding: 1em;
}

.slrn-filter {
    font-size: 0.9em;
}

.slrn-filter-input {
    padding: 1em;
    background-color: #eeeeee;
}

.slrn-filter h3 {
   font-size: 1.3em;
   font-weight: bold;
   background-color: #4B667C;
   color: #F6F6F6;
   padding: 0.5em;
   padding-right: 2em;
   margin-bottom: 0;
   margin-top: 0;
}

.slrn-filter ul {
    padding-left: 1em;
}

.slrn-num-found {
    margin-top: 1em;
    background-color: #eeeeee;
    padding: 0.5em;
}

.slrn-search-refine {
   font-size: 0.9em;
   text-transform : uppercase; 
}