<div 
    class="slrn-widget"
    ng-repeat="facet in data.results.facets">
    <h3>{{ facet.label}}</h3>
    <input 
        type="checkbox"
        ng-change="checkAll(data.query.filters[facet.name])"
        ng-model="data.query.filters[facet.name]['all']"/>
    <label>All</label>
    <ul class="slrn-ul-no-bullet">
        <li
            ng-repeat="elmnt in facet.value">
            <input 
                type="checkbox" 
                name="{{facet.name + '[]'}}" 
                ng-change="search(data.query)" 
                ng-model="data.query.filters[facet.name][elmnt.value]"/> 
            
            <label>{{ (elmnt.label) + ' (' + elmnt.count + ')'}}</label>
        </li>
    </ul>
</div>

