<div class="slrn-facet {{ facet.class }}">
    <h3>{{ facet.label}}</h3>
    <div class="slrn-filter-input">
        <ul class="slrn-ul-no-bullet">
            <li
                ng-repeat="elmnt in facet.value">
                <input 
                    type="checkbox" 
                    name="{{facet.name + '[]'}}" 
                    ng-change=" $scope.updateQuery(data.filters, facet.name)" 
                    ng-model="data.filters[facet.name][elmnt.value]"/> 

                <label>{{ (elmnt.label) + ' (' + elmnt.count + ')'}}</label>
            </li>
        </ul>
    </div>
</div>