<div class="slrn-facet {{ facet.class }}">
    <h3>{{ facet.label}}</h3>
    <div class="slrn-filter-input">
        <input 
            type="checkbox"
            ng-change="functions.filters.checkboxAll.onChangeAllCheckbox(data.filters[facet.name], facet.name)"
            ng-model="data.filters[facet.name]['all']"/>
        <label>{{'all_' + facet.name | trans }}</label>
        <ul class="slrn-ul-no-bullet">
            <li
                ng-show="elmnt.count > 0"
                ng-repeat="elmnt in facet.value">
                <input 
                    type="checkbox" 
                    name="{{facet.name + '[]'}}" 
                    ng-change="functions.filters.checkboxAll.onChangeCheckbox(data.filters[facet.name], facet.name)" 
                    ng-model="data.filters[facet.name][elmnt.value]"/> 

                <label class="test">{{ (elmnt.label) + ' (' + elmnt.count + ')'}}</label>
            </li>
        </ul>
    </div>
</div>